
.PaginaInicial {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
  }
  
  #welcome-container {
    text-align: center;
  }
  
  .textoIntroducao {
    font-size: 1.5em;
    color: #333;
  }
  